<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <ul class="list-inline text-left" style="font-size: 15px;">
          <li>
            <a target="_blank" href="/team">Qui sommes-nous ?</a> | <a target="_blank" href="/sons_prayer">Prière de consécration des prêtres</a> | <a target="_blank" href="/families_prayer">Prière de consécration des familles</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul class="list-inline text-right social">
          <li><a href="mailto:famillesducoeurimmacule@gmail.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
