<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center top-title">Prière du soir</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-12 text-center">
      <p style="padding-bottom: 40px; text-align: center;">
        Ô Marie, la nuit vient...
        </br></br>
        et en Ton Cœur Immaculé,
        </br></br>
        je remets mon corps, mon âme et mon esprit.
        </br></br>
        Je T'offre chaque instant de cette journée passée...
        </br></br>
        Tout ce qui fut un peu amour, fais-le grandir en Ton Cœur.
        </br></br>
        Tout ce qui a manqué d'amour, transforme le en Ton Cœur.
        </br></br>
        Je t'offre chaque instant de mon sommeil.
        </br></br>
        Cœur Immaculé de Marie
        </br></br>
        Je suis tout à Toi...
        </br></br>
        Repose-moi dans l'Esprit de Jésus...
      </p>
    </div>
  </div>
</div>
