<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Prière de consécration des prêtres et diacres au Cœur Immaculé de Marie</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-xs-12 text-center">
      <h4 class="text-left">Sainte Vierge Marie, Reine de la Paix,</h4>
      <p style="padding-bottom: 40px; text-align: justify;">
        Daigne recevoir aujourd’hui la consécration de notre famille à ton Cœur Immaculé, que par ton intercession, nous puissions nous offrir à ton Fils.
        </br></br>
        Nous venons te présenter avec un cœur tout abandonné et confiant (citer chaque membre de la famille). Plonge chacun des membres de notre famille dans ton Cœur Immaculé, et garde nous toujours unis sous ton manteau maternel. Nous te consacrons nos relations de couple et de famille. Viens nous mettre à l’école de ta douceur, de ton humilité, enseigne nous ta délicatesse.
        </br></br>
        Toi l’Immaculée, viens purifier nos pensées, nos regards, nos gestes et nos paroles.
        </br></br>
        Toi, toute donnée, viens nous apprendre le don de nous même, total et indéterminé, à ton Divin Fils et à son Cœur Sacré. Viens nous apprendre à donner sans espoir de retour, au cœur de notre famille mais aussi autour de nous.
        </br></br>
        Toi , l’épouse de l’Esprit, apprends nous à être dociles à son souffle divin, que nous sachions le solliciter dans nos choix familiaux et personnels, et nous placer à son écoute attentive.
        </br></br>
        Toi, Reine de la Paix, ne permets pas que l’Esprit du monde et le Diviseur viennent menacer le projet de Dieu sur notre famille. Garde nous unis, enfouis dans ton Cœur Immaculé.
        </br></br>
        Toi, qui avec Joseph a formé la plus parfaite des Églises domestiques, apprends nous à être petite Église et à témoigner de l’amour de Dieu, avec force et confiance.
        </br></br>
        Toi qui a chanté le Magnificat, apprends nous à louer Dieu chaque jour.
        </br></br>
        Toi qui as accueilli Dieu dans la plus grande Pauvreté, enseigne nous le secret des Pauvres et l’abandon à la Providence.
        </br></br>
        Toi qui as contemplé et adoré Dieu fait homme, garde nous dans l’amour de l’Eucharistie.
        </br></br>
        Toi qui as gardé toutes choses dans ton cœur, apprends nous le silence et la prière du cœur.
        </br></br>
        Toi qui nous as offert ton Fils, et l’as vu écrasé, supplicié par le poids de nos péchés, apprends nous à demander pardon et à pardonner à notre prochain. Garde nous le goût du sacrement de la réconciliation, confiants dans la Miséricorde Divine.
        </br></br>
        Toi qui es restée au pied de la Croix, Mère des douleurs, permets que nous demandions ton soutien pour rester fidèles à ton Fils dans nos épreuves et nos croix.
        </br></br>
        Toi qui as cru, toi qui as porté l’Espérance du monde pendant trois jours de larmes dans l’attente de la résurrection, nous te consacrons, nos soucis, nos doutes et nos angoisses. Garde nous confiants et le cœur en paix, sûrs de la victoire de l’Amour.
        </br></br>
        Toi qui as été emportée aux Cieux par les anges, nous te consacrons notre mort. Viens nous prendre dans tes bras maternels et porte nous à ton Fils.
        </br></br>
        Cœur Immaculé, nous te consacrons notre famille pour que tu l’offres à ton divin Fils.
      </p>
    </div>
  </div>
</div>
