<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center top-title">Prière du matin</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-12 text-center">
      <p style="padding-bottom: 40px; text-align: center;">
        Ô Marie, le jour se lève...
        </br></br>
        et en Ton Cœur Immaculé,
        </br></br>
        je dépose mon corps, mon âme et mon esprit.
        </br></br>
        Je T'offre chaque instant de cette journée à venir...
        </br></br>
        Mets en moi Ton Regard, Ton Écoute et Ton Cœur...
        </br></br>
        Je veux la vivre dans la Foi, la Paix et l'Amour.
        </br></br>
        Coeur Immaculé de Marie
        </br></br>
        Je suis tout à Toi...
        </br></br>
        Attire sur moi l'Esprit de Jésus...
      </p>
    </div>
  </div>
</div>
