<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center top-title">Prière de consécration des prêtres et diacres au Cœur Immaculé de Marie</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-xs-12 text-center">
      <h4 class="text-left">Sainte Vierge Marie, Reine de la Paix,</h4>
      <p style="padding-bottom: 40px; text-align: justify;">
      Daigne recevoir aujourd’hui ma consécration sacerdotale à ton Cœur Immaculé</br>
      pour que par ta puissante intercession, je m’offre à Jésus ton Fils...
      </br></br>
      Ô Épouse de l’Esprit Saint,
      </br></br>
      Tu as été à l’Annonciation couverte de son ombre (Lc 1,35) :</br>
      dans la puissance de cette première Pentecôte cachée</br>
      qui a fait de toi la Mère de Dieu...</br>
      Attire sur moi cet Esprit de lumière et d’amour</br>
      afin que je sois renouvelé en ma foi</br>
      et laisse grandir Jésus en mon cœur sacerdotal...
      </br></br></br></br>

      Ô Mère du Verbe et ma Mère,
      </br></br>
      Toi dont le regard silencieux a suivi Jésus de la Crèche à la Croix,</br>
      Tu sais pour moi l’Evangile par cœur (Lc 2,19) :</br>
      Donne-moi un amour passionné de la Parole</br>
      et fais-moi ressembler à Jésus, doux et humble de cœur (Mt 11,29).</br>
      Je veux puiser en ton Cœur tous les « oui » de ma vie,</br>
      je veux vivre en ton Cœur l’Evangile de ma vie...
      </br></br></br></br>

      Avec Saint Jean-Paul II, ton fils bien-aimé,
      </br></br>
      je veux te redire chaque jour : je suis tout à toi, Marie !</br>
      et dans le grand combat de ce III° millénaire qui commence,</br>
      je veux croire selon sa prophétie</br>
      que « le Dragon ne sera pas plus fort que ta Beauté... »</br>
      Ô Femme Immaculée enveloppée par le Soleil (Ap 12,1) :</br>
      Plonge-moi en toi, « Mer de cristal et de feu » (Ap 15,2),</br>
      pour laver ma robe sacerdotale dans le Sang de l’Agneau (Ap 7,14).</br>
      Garde-moi en cette transparence des pauvres qui espèrent tout du Père...</br>
      En cette « puissance qui se déploie dans la faiblesse » (2 Co 12,9),</br>
      délivre-moi des dispersions égoïstes et des solitudes dangereuses...</br>
      Je veux vivre en ton Cœur, Ô Mère, la joie d’un amour</br>
      qui se donne à tous sans limites...
      </br></br></br></br>

      Avec le Pape François,
      </br></br>
      Je désire être, en ton Cœur Immaculé,</br>
      Un prêtre au visage de miséricorde,</br>
      spécialement à travers la célébration aimante de la Sainte Messe</br>
      et l’accueil bienveillant des pécheurs dans le sacrement de la réconciliation...</br>
      En te regardant, Ô Mère,</br>
      je veux « croire en la force révolutionnaire de la tendresse »</br>
      et devenir un apôtre de la Miséricorde divine,</br>
      pour que « la joie de l’Evangile parvienne jusqu’au confins de la terre... »
      </br></br></br></br>

      Ô Marie, toi que l’Église appelle « la toute puissance suppliante »,</br>
      Redis au Seigneur pour notre temps : « Ils n’ont plus de vin ! » (Jn 2,3)</br>
      Que je sois avec toi en Cénacle quotidien à travers le saint Rosaire</br>
      pour qu’advienne sur l’Église cette Pentecôte d’amour</br>
      qui changera la face de notre monde au bord de l’abîme...</br>
      </br></br></br></br>

      Ô Mère de miséricorde,
      </br></br>
      en ta douceur incessante,</br>
      sois pour mon cœur de prêtre tendresse et guérison...</br>
      Blotti entre tes bras,</br>
      je veux vivre chaque jour en ton étreinte maternelle (Ps 130).</br>
      Émerveillé par ta présence continuelle au milieu de nous</br>
      à travers tant de Visitations … Je veux redire avec beaucoup d’autres :</br>
      « Comment ai-je ce bonheur que la Mère de mon Seigneur</br>
      vienne jusqu’à moi ?... »  (Lc 1,47)
      </br></br></br></br>

      Ô Marie, Mère de l’Église et ma Mère,
      </br></br>
      en ce jour béni, je t’offre toute ma vie passée, présente et future,</br>
      et je me consacre tout entier corps, âme et esprit</br>
      à ton Cœur Immaculé,</br>
      Arche de paix pour accueillir les temps nouveaux !</br>
      Moi, père... Je suis tout à toi pour toujours !</br>
      Fais-moi vivre à chaque instant du mystère de ton Cœur</br>
      pour suivre Jésus jusqu’au bout de l’amour...</p>
    </div>
  </div>
</div>
