<h1>Bonjour famille <%= @family.last_name %>,</h1>

<p>
  Bienvenue sur Familles du Cœur Immaculé !<br/>
  <br/>
  Vous allez sous peu avoir un prêtre ou diacre qui vous sera attitré et pour lequel vous vous engagez à un soutien spirituel.<br/>
  <br/>
  N'hésitez pas à nous faire part de vos retours, positifs ou non, afin de nous aider à améliorer nos services.<br/>
  <br/>
  <br/>
  L'équipe Familles du Cœur Immaculé
</p>
