/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.global-wrapper {
  min-height: calc(100vh - 130px - 70px);
  background-color: $light-blue;
}

#collapseOne {
  color: $grey-text;
}

#collapseOne p {
  color: $grey-title;
}

.panel-title {
  color: $turquoise;
}

.panel-body a {
  color: $turquoise;
}

.panel a:hover {
  color: $turquoise-darker;
  transition: color 0.3s ease;
}

.panel-body a:hover {
  color: $turquoise-darker;
  transition: color 0.3s ease;
}
